/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
  /* modified for deployment */
}

.form {
  font-size: 23px;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  height: 800px;
  margin-top: 19px;
  /* modified for deployment */
}

.form label {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form input {
  width: 100%;
  border: 3px solid black;
  padding: 8px 0px;
  border-radius: 5px;
  font-family: "Gamer";
  font-size: 15px;
  /* Modified for deployment */
  text-align: center;
  font-weight: bold;
}

.form button {
  font-family: "Gamer";
  padding: 10px 80px;
  border: 5px solid black;
  background-color: #db3d4b;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.75);
  font-size: 20px;
  /* Modified for deployment */
  /* margin-top: 10px; */
}

.form button:hover {
  background-color: #ffd622;
}

.types {
  background-color: #faf8f8;
  border: 3px solid black;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 65px;
  font-size: 19px;
  border-radius: 5px;
  font-weight: bold;
}

.typesWithError {
  background-color: #faf8f8;
  border: 4px solid red;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 65px;
  font-size: 19px;
  border-radius: 5px;
  font-weight: bold;
}

.icons {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
}
.icons div {
  width: 10%;
}

.icons img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.icons img:hover {
  transform: scale(1.2);
}

.cross {
  cursor: pointer;
}

.topButton {
  /* Modified for deployment */
  font-family: "Gamer";
  padding: 5px 80px !important;
  border: 5px solid black;
  background-color: #db3d4b;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.75);
  font-size: 20px !important;
  /* Modified for deployment */
}
.topButton:hover {
  background-color: #ffd622;
}

.errorDiv {
  border: 3px solid black;
  background-color: #faf8f8;
  border-radius: 10px;
  padding: 10px;
}

.error {
  border: 4px solid red !important;
}

.required{
  font-weight: bold;
  color: red;
}

