.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #faf8f8;
  z-index: 1;
  box-shadow: -1px 3px 6px -1px rgba(0, 0, 0, 0.75);
  height: 70px;
}

.img {
  width: 50px;
  height: 50px;
  align-self: center;
}

.left_navbar {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin-left: 10px;
  font-size: 22px;
  font-weight: 500;
}

.left_navbar p {
  margin-left: 5px;
}

.right_navbar {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.right_navbar button {
  border: none;
  font-family: "Gamer";
  color: #db3d4b;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #faf8f8;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.right_navbar button:hover {
  transform: scale(1.1);
}

.middle_navbar {
  width: 30%;
  margin-left: 240px;
}

.middle_navbar form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
}

.middle_navbar input:nth-child(1) {
  align-self: center;
  font-family: "Gamer";
  font-size: 18px;
  border-radius: 20px;
  border: 3px solid black;
  width: 80%;
  height: 36px;
  color: black;
}

.middle_navbar button {
  margin-left: 5px;
  align-self: center;
  border: none;
  background-color: #faf8f8;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.middle_navbar button:hover {
  transform: scale(1.2);
}

.imgSearch {
  width: 36px;
  height: 36px;
}
